.grid {
  padding: var(--grid-spacing);
  height: auto;
  min-height: 100vh;
  width: 100%;
  // width: 80%;
  // margin-left: 10%;
  display: grid;
  gap: var(--grid-spacing);
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 95vh;
  grid-template-areas:  
    "c1   c1   c1   c1   c2   c2"
    "c3   c3   c4   c4   c4   c4"
    "c5   c5   c5   c5   c6   c6"
    "c7   c7   c7   c7   c8   c8"
    "c9   c9   c9   c9   c10  c10"
    "c11  c11  c11  c11  c11  c11"
    "c12  c12  c12  c13  c13  c13"
    "c14  c14  c14  c15  c15  c15"
    "c16  c16  c16  c17  c17  c17"
    "c18  c18  c18  c18  c18  c18"
    "c19  c19  c19  c20  c20  c20"
    "c21  c21  c21  c22  c22  c22"
  ;
  div:nth-child(11) {
    img {
      object-position: top;
    }
  }
}

.cell {
  background-color: var(--grey-40);
  min-height: 60vh;
}