@font-face {
  font-family: "Gallient Regular";
  src: url("/font/gallient-regular.ttf");
  font-display: swap;
}

:root {
  /* font-family */
  --font-title: "Gallient Regular", serif;
  // --font-body: "Irnia Sans", sans-serif;
  --font-body: "Flamenco", sans-serif;

  /* palette */
  --full-black: #000000;
  --black: #0f0f0f;
  --black-fade-5: hsla(0, 0%, 0%, 0.05);
  --black-fade-10: hsla(0, 0%, 0%, 0.1);
  --black-fade-20: hsla(0, 0%, 0%, 0.2);
  --black-fade-40: hsla(0, 0%, 0%, 0.4);
  --black-fade-80: hsla(0, 0%, 0%, 0.8);
  --grey-50: #898989;
  --grey-40: #99979b;
  --grey-20: #c0c0c0;
  --grey-10: #e6e5e6;
  --grey-05: #f6f6f6;
  --grey-fade-20: hsla(276, 2%, 47%, 0.2);
  --off-white: #fafafa;
  --white: #ffffff;
  --white-fade-20: hsla(0, 0%, 100%, 0.2);

  /* z-indeces */
  --base-two: -200;
  --base-one: -100;
  --ground: auto;
  --level-one: 100;
  --level-two: 200;
  --level-three: 300;
  --level-four: 400;
  --level-five: 500;
  --level-six: 600;
  --level-seven: 700;
  --level-eight: 800;
  --level-nine: 900;
  --level-top: 9999;

  /* radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 48px;
  --radius-rounded: 999px;

  /* spacing */
  --space-xs: 2px;
  --space-sm: 4px;
  --space-md: 8px;
  --space-ml: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;
  --space-4xl: 64px;
  --space-5xl: 70px;

  /* viewport-spacing */
  --vp-xxs: 1vmin;
  --vp-xs: 1.5vmin;
  --vp-sm: 2.5vmin;
  --vp-ms: 3.5vmin;
  --vp-md: 5vmin;
  --vp-ml: 7vmin;
  --vp-lg: 9vmin;
  --vp-xl: 11vmin;
  --vp-2xl: 13vmin;
  --vp-3xl: 26vmin;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;

  /* letter-spacing */
  --push-xl: 0.25em;
  --push-lg: 0.15em;
  --push-md: 0.08em;
  --push-sm: 0.02em;
  --tight: -0.015em;

  /* font-weight */
  --light: 200;
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* font-size */
  // --text-xs: 12px;
  // --text-sm: 14px;
  // --text-md: 16px;
  // --text-lg: 18px;
  // --text-xl: 20px;
  // --text-2xl: 24px;
  // --text-2xl-plus: 28px;
  // --text-3xl: 32px;
  // --text-3xl-plus: 40px;
  // --text-4xl: 48px;
  // --text-5xl: 56px;
  // --text-6xl: 64px;
  // --text-7xl: 78px;
  // --text-8xl: 96px;
  // --text-9xl: 118px;
  // --text-10xl: 144px;
  // --text-11xl: 156px;
  --text-xs: .5rem;
  --text-sm: .75rem;
  --text-md: 1.05rem;
  --text-ml: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 4rem;

  /* bezier curves */
  --smooth: cubic-bezier(0.115, 0.905, 0.32, 1);
  --punchitchewy: cubic-bezier(1, 0, 0.115, 0.995);
  --punchitchewy-framer: [1, 0, 0.115, 0.995];
  --smooth-framer: [0.115, 0.905, 0.32, 1];

  /* transitions */
  --transition-1: all 1s var(--punchitchewy);
  --transition-2: all 0.6s var(--punchitchewy);
  --transition-3: all 0.3s var(--punchitchewy);
  --transition-4: all 0.1s var(--punchitchewy);
  --transition-1-smooth: all 1.25s var(--smooth);
  --transition-2-smooth: all 0.6s var(--smooth);
  --transition-3-smooth: all 0.3s var(--smooth);
  --transition-4-smooth: all 0.1s var(--smooth);

  // * role-based tokens * //
  /* colors */
  --color-text: var(--off-white);
  --color-text-demph: var(--grey-50);

  --color-bg: var(--black);

  /* text size */
  --text-hero: 20px;
  --text-display: 20px;
  --text-display-sm: 20px;
  --text-header-lg: 20px;
  --text-header: 20px;
  --text-header-sm: 20px;
  --text-prose-lg: 22px;
  --text-prose: 20px;

  /* transitions */
  --transition-primary: var(--transition-1-smooth);
  --transition-faster: var(--transition-3-smooth);

  /* spacing */
  --grid-spacing: 10px;
  --layout-margin: 6vw;
}

@media (max-width: 1024px) {
  :root {
  }
}

html,
body {
  width: 100vw !important;
  max-width: 100vw !important;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-body);
  font-size: var(--text-md);
  letter-spacing: var(--push-sm);
  color: var(--color-text);
  caret-color: transparent;
  ::-webkit-scrollbar {
    display: none;
  }
  & * {
    ::-webkit-scrollbar {
      display: none !important;
    }
  }
}

a,
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
